<!doctype html>
<html lang="en" id="top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

    <!-- JavaScript -->
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script type="text/javascript"
       src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    {# macro to include JS with its own const variable scope
       to not have `const` assignments pollute projectwide scope #}
    {% macro js(path) %}
        (() => {
          {% include path %}
        })();
    {% endmacro %}

    {# Include *all* your JS files here.
      The order matters, files above can't use
      global variables set in files under.
    #}
    {% set scripts %}
      {{ js("js/old_main.js") }}
      {{ js("js/packages/neverthrow.js") }}
      {{ js("js/utils/Utils.js") }}
      {{ js("js/utils/Nullable.js") }}
      {{ js("js/utils/Http.js") }}
      {{ js("js/utils/Netlify.js") }}
      {{ js("js/utils/Tables.js") }}
      {{ js("js/components/index.js") }}
      {{ js("js/components/with_remote_data.js") }}
      {{ js("js/components/home/username_setter.js") }}
      {{ js("js/components/home/home_lists.js") }}
      {{ js("js/components/home/index.js") }}
    {% endset %}
    <script>
      {{ scripts | safe }}
    </script>
  </head>
  <body>
    <div id="site"></div>
    <script>
      // The 0 timeout is necessary to detect netlify auth token
      window.setTimeout(() => {
        // Include the current page's JS
        // It should be in the format
        // `TdMemoPage = Component.Path.To.Component`
        {{ content | safe }}

        Components.setContent('#site', TdMemoPage())

        // Init the netlify login widget
        netlifyIdentity.init({ container: '#netlify-identity' })
      }, 0)
    </script>
  </body>
</html>



