a {
  color: #0e9ce0;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}

/* Styling for images included in comments that resize appropriately.
*/
.responsive-image {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Styling for headers which collapse the subsequent element. It acts like a
 * link and uses Font-Awesome unicode to indicate whether it's collapsed.
*/
.collapsible {
  color: #0e9ce0;
  cursor: pointer;
}
.collapsible:before {
  content: "\f106"; /* angle-up */
  font-family: FontAwesome;
  margin-right: 10px;
  top: 2px;
  position: relative;
  display: inline-block;
}
.is-collapsed {
  color: #ccc;
}
.is-collapsed:before {
  color: #ccc;
  content: "\f107"; /* angle-down */
  font-family: FontAwesome;
  padding-right: 5px;
}
.collapsible:hover {
  text-decoration: underline;
}
.collapsible:hover::before {
  text-decoration: none !important;
}

.d-none {
  display: none;
}

.edit-button {
  color: #0e9ce0;
  cursor: pointer;
}

.detail-icon {
  display: block;
  text-align: center;
}

.review {
  max-width: calc(100vw - 60px);
}

.bootstrap-table tbody {
  transform-style: preserve-3d;
}
.detail-view img {
  max-width: 50%;
  max-height: 200px;
  border-radius: 8px;
  margin: 10px 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.detail-view img:nth-of-type(even) {
  float: right;
}

.detail-view img:nth-of-type(odd) {
  float: left;
}

.mini-thumb {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  object-fit: cover;
  margin-right: 6px;
  border-radius: 50%;
}

.cover-tooltip {
  display: none;
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
  z-index: 99;
}

.cover-tooltip img {
  max-height: 400px;
  max-width: 200px;
}

.title-with-cover-container {
  position: relative;
}

@media (min-width: 615px) {
  span.title-with-cover:hover + .cover-tooltip {
    display: block;
  }
}

h1 {
  text-align: center;
  padding-bottom: 1px;
}

.summary-stats {
  text-align: center;
  font-size: 11px;
  margin-top: 11px;
}

.summary-stats i {
  margin: 0 10px;
  opacity: 0.7;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

select {
  background: white;
}

input,
button,
select,
textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

button {
  box-shadow: unset;
}
